
@{
    ViewBag.Title = "Impressum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div><label class="kuerbis"></label><h1 style="display:inline;">Impressum</h1><label class="kuerbis"></label></div>
<p class="textBox subline" style="width: 6em;margin-top: 10px;">
    <a href="/Home/Index">Startseite</a>
</p>

<div style="width: 20em;margin-left: auto;margin-right: auto;text-align:left;padding:5px 10px 5px 10px;" class="textBox">
    <h4>Verantwortlicher:</h4>
    Verantwortlicher Vorname Nachname
    <br/>
    <h4>Kontakt:</h4>
    Vorname.Nachname@hftl.de
</div>


